@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

@import "tailwindcss";

* {
  font-family: "Parkinsans", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}
