@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap");

* {
  font-family: "Parkinsans", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}
